---
BasedOnStyle: LLVM
AlignEscapedNewlines: Left
BreakBeforeBraces: Allman
ColumnLimit: '120'
Cpp11BracedListStyle: 'true'
ExperimentalAutoDetectBinPacking: 'true'
FixNamespaceComments: 'false'
IndentWidth: '4'
Language: Cpp
PointerAlignment: Left
NamespaceIndentation: All
ReflowComments: 'true'
SortIncludes: 'true'
SortUsingDeclarations: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Never
BreakBeforeBinaryOperators: NonAssignment

...
