CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.exe
*.lib
*.a
*.so
*.js
*.wasm
*.html
*.data
main
